@page "/"
@inject HttpClient http

<PageTitle>AzUWish</PageTitle>

<h2>Azure Name Helper</h2>
<div class="autocomplete w-25">
    <input @bind="selectedResourceName" @oninput="HandleInput" class="form-control filter"/>
    @if (resources is not null)
    {
        <ul class="options">
            @if (resources.Any())
            {
                @foreach (var resource in resources.OrderBy(r=>r.Category))
                {
                    <li class="option" @onclick=@(_ => SelectResource(resource.Prefix))>
                        <span class="option-text">@resource.Prefix</span>
                        <span class="option-text">@resource.Name</span>
                        <span class="option-text">@resource.Category</span>
                    </li>
                }
            }
            else
            {
                <li class="disabled option">No results</li>
            }
        </ul>
    }
</div>
@if (!string.IsNullOrWhiteSpace(selectedResourceName))
{
    <p class="mt-3">
        Selected resource is @selectedResourceName with prefix <strong>@selectedResourcePrefix</strong>
    </p>
}

<style>
    .autocomplete {
      position: relative;
    }
    .autocomplete .options {
      position: absolute;
      top: 40px;
      left: 0;
      background: white;
      width: 100%;
      padding: 0;
      z-index: 10;
      border: 1px solid #ced4da;
      border-radius: 0.5rem;
      box-shadow: 0 30px 25px 8px rgba(0, 0, 0, 0.1);
    }
    .autocomplete .option {
      display: block;
      padding: 0.25rem;
    }
    .autocomplete .option .option-text {
      padding: 0.25rem 0.5rem;
    }
    .autocomplete .option:hover {
      background: #1E90FF;
      color: #fff;
    }
    .autocomplete .option.disabled {
      background-color: lightgrey;
      cursor: not-allowed;
    }
    .autocomplete .option.disabled:hover {
      background: lightgrey;
      color: var(--bs-body);
    }
</style>